html, body, #wrapper {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    font-family: Arial !important;
}

#wrapper {
	position: relative !important;
}
#top, #middle, #bottom{
	position: absolute !important;
}

#middle {
	top: 50px;
	bottom: 50px;
	width: 100%;
	overflow-y: auto;
	margin-top: 10px;
}
#top {
	height: 50p;
	width: 100%;
}
#bottom {
	bottom: 0;
	height: 50px;
	width: 100%
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

span {
    cursor: pointer; cursor: hand;
}

.container {
    margin: 0;
}
