.mytrip {
	h1 {
		margin: 0;
	}

	.tripList {
		background-color: @main-orange;
	}

	.tripDetailContainer {
		background-color: @main-green;
	}

	.tripDetailSubcontainer {
		div {
			float: left;
		}
		overflow: hidden;
	}

	.tripList {
		padding-bottom: 10px;
		div {
			float: left;
		}
		overflow: hidden;
	}

	.tripListElement {
		width: 100px;
		height: 150px;
		margin-left: 10px;

		.avatar {
			width: 100%;
		}
	}

	.tripDetailElement {
		width: 100px;
		height: 150px;
		margin-left: 10px;

		.avatar {
			width: 100%;
			border-radius: 50%;
		}
	}
}