.mytrip {
	h1 {
		margin: 0;
	}

	.tripList {
		background-color: @triplist;
	}

	.tripListElement {
		width: 100px;
		height: 150px;
		.avatar {
			width: 100%;
		}
	}

	.tripDetailContainer {
		
	}

	.tripDetailSubcontainer {
		background-color: @mainpage;
		/*overflow: hidden;*/
	}

	.tripDetailElement {
		.avatar {
			width: 100%;
			border-radius: 50%;
		}
	}
}