.navbar {
    background-color: @navbar;
    margin: 0;
    padding: 0;
    font-size: @font-large;
    font-weight: bold;

	.active {
	    background-color: @main-orange;
	}

	li a:hover:not(.active) {
	    background-color: @light-green;
	}

	.identity {
		font-weight: normal;
		font-size: @font-mid;
		float: right;
		color: white;

		label {
			margin: 0;
		}

		input {
			border: 1px solid;
			border-radius: 0.25rem;
		}

		.item {
			margin: 0;
			margin-right: 10px;
			float: left;
		}

		.btn {
			top: 25px;
			position: relative;
			padding: 4px;
			font-size: 14px;
		}
	}
}