<div class="row">
	<div class="tripList col-2">
		<h1>Trip List</h1>
		<div ng-repeat="trip in trips" class="tripListElement" ng-click="viewTrip()">
			<img src="trip.png" class="avatar col-12">
		</div>
		<span title="add trip" ng-click="addTrip()"><i class="material-icons" style="font-size:48px;">add_circle_outline</i></span>
	</div>
	<div class="col-10">
		<div class="card">
			<div class="card-header">
				<h1>Purchasers</h1>
			</div>
			<div class="card-block row justify-content-center">
				<div ng-repeat="purchaser in purchasers" class="tripDetailElement col-1" ng-mouseenter="enterPurchaser($index)" ng-mouseleave="leave()">
					<img src="user.png" class="avatar" ng-class="{'fadeTransparent':!purchaser.active}">
					<p>{{purchaser.name}}</p>
				</div>
			</div>
		</div>
		<hr/>
		<div class="card">
			<div class="card-header">
				<h1 class="row">Items</h1>
			</div>
			<div class="card-block row justify-content-center">
				<div ng-repeat="item in items" class="tripDetailElement col-1" ng-mouseenter="enterItem($index)" ng-mouseleave="leave()">
					<img src="item.png" class="avatar" ng-class="{'fadeTransparent':!item.active}">
					<p>{{item.name}}</p>
				</div>
			</div>
		</div>
		<hr/>
		<div class="card">
			<div class="card-header">
				<h1 class="row">Consumers</h1>
			</div>
			<div class="card-block row justify-content-center">
				<div ng-repeat="consumer in consumers" class="tripDetailElement col-1" ng-mouseenter="enterConsumer($index)" ng-mouseleave="leave()">
					<img src="user.png" class="avatar" ng-class="{'fadeTransparent':!consumer.active}">
					<p>{{consumer.name}}</p>
				</div>
			</div>
		</div>
	</div>
</div>